*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

#area{
    background-color: green;
    color: white;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
}

.inputs{
    margin-inline: 200px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 5px;
}

#res{
    display: flex;
    justify-content: center;
    
    margin: 10px;
    
}

input{
    border-radius: 6px;
    border: none;
}

h1{
    text-align: center;
    margin: 50px;
}